header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #673ab6;
  padding: 20px 10px;
  font-size: 1.2rem;
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  z-index: 5;
}

nav{
  margin-right: 10px;
}

a{
  color: white;
}
a:hover{
  color: #e8c999;
}